.App {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.seat {
  box-sizing: border-box;
  border: 1px solid grey;
  padding: 2px;
  margin: 2px;
  height: 50px;
  width: 50px;
}

.reserved {
  background: red;  
}

.text1 {
  padding: 1rem;
}